[Unit]
Description=Run tg-msg-manager clean daily

[Timer]
OnCalendar=*-*-* 04:30:00 Europe/Kyiv
AccuracySec=1s
RandomizedDelaySec=0
Unit=tg-msg-manager-clean.service

[Install]
WantedBy=timers.target
